{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!{% endblock %}

{% block body %}
    <div class="container my-5">
        {% for comment in comments %}
            <div class="card my-5">
                <div class="card-header bg-dark text-light logo">
                    {{ comment.game.name }}
                </div>
                <div class="card-title p-2">
                    {{ comment.account.name }}
                </div>
                <div class="card-text p-2">
                    {{ comment.content }}
                </div>
                <div class="card-footer text-muted">
                    {{ comment.createdAt | date ('d-m-Y') }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}