<div class="container g-4">
    <div class="row">
        {% for entity in entities %}
            <div class="col-3 my-3">
                <div class="card bg-opacity-25 bg-secondary h-100">
                    <div class="card-header bg-dark">
                        <a href="{{ path('game_show', {'slug': entity.game.slug}) }}" class="text-decoration-none logo">{{ entity.game.name }}</a>
                    </div>
                    <div class="card-title">

                    </div>
                    <div class="card-text">
                        <p>{{ entity.content }}</p>
                    </div>
                        <div class="card-footer h-25">
                            <p class="card-text logo">{{ 'comment.madeBy'|trans({'%username%' : entity.account.name, '%date' : entity.createdAt |date ('d-m-Y') }) }}</p>
                        </div>
                    </div>
            </div>
        {% endfor %}
    </div>
</div>